.inicioSesionModal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0px 0px 12px 8px rgba(227, 219, 219, 0.75);
}

.recuperacionModal {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0px 0px 12px 8px rgba(227, 219, 219, 0.75);
}

.modalCerrarContenedor {
    position: absolute;
    top: 32;
    right: 0;
    margin-right: 32px;
}

.modalCerrarContenedor button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modalCerrarContenedor button img {
    height: 12px;
    width: 12px;
}

.modalEncabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    /* border: 1px solid red; */
}

.modalEncabezado .modalTitulo {
    color: #b1a4c3;
    margin-top: 28px;
    font-size: 24px;
    font-weight: 500;
}

.modalFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    padding: 6px 0 6px 0;
    gap: 12px;
}

.modalFormulario .modalFormulario__input {
    width: 100%;
    height: 68px;
    /* border: 1px solid #b1a4c3; */
    border-radius: 5px;
    padding: 4px 0 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #6d6875;
}

.modalFormulario .modalFormulario__info {
    width: 100%;
    height: 68px;
    /* border: 1px solid #b1a4c3; */
    border-radius: 5px;
    padding: 4px 0 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #6d6875;
}

.modalFormulario__info h2 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.modalFormulario .modalFormulario__info p {
    font-size: 16px;
    font-weight: 650;
    margin-top: 8px;
}

.modalFormulario__input label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.modalFormulario__input input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #f1f1f1;
    color: #6d6875;
    height: 30px;
    border-radius: 5px;
    padding-left: 8px;
}

.modalFormulario__input input::placeholder {
    color: #f1f1f1;
}

.modalFormulario__input div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.modalFormulario__input div input {
    width: 100%;
}

.modalFormulario__input div button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.modalFormulario__input div button img {
    max-width: 100%;
    max-height: 100%;
}
.error {
    height: 20px;
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: -8px;
}

.error div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
}

.error p {
    color: #ff575f;
    font-size: 16px;
    font-weight: 500;
}

.modalBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
    padding: 6px 0 6px 0;
    gap: 16px;
}

.modalBoton {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    width: 100%;
    /* border: 1px solid red; */
    height: 90px;
}

.inicioSesionBoton {
    width: 100%;
    height: 40px;
    background-color: #b1a4c3;
    border: none;
    border-radius: 150px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.inicioSesionBoton img {
    height: 24px;
    width: 24px;
    animation: rotateImg 2s linear infinite;
}

@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modalBotones .recuperarBoton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #b1a4c3;
    font-weight: 100;
    font-size: 16px;
}
